@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';
.shop{
    background-image:$watch;
    height: 100%;
    padding:0 20px  80px 20px;
    
    h1{
        padding: 20px;
    }

    &-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .products{
            width: 100%;
            max-width: 1000px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap:10px;
        }
    }
}