.container{
    position:fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    border-radius: 12px;

    h3,p{
        color:black;
    }
    img{
        width: 90px;
    }
    &-modal{
        display: flex;

        &-right{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-x{
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
            }
            &-content{
                padding: 10px;
            }
        }
    }
}